<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ürün Sayfası</title>
    <link rel="" href="C:\Users\Elif SALI\Desktop\WebDevelopment\NodeGiris\css\bootstrap.css">
  </head>
  <body class="bg-primary text-white">

    <h1>Ürün Adı : <%= baslik %> </h1>
    <h2>Yorum Sayısı : <%= yorumsayisi %> </h2>
  </body>
</html>
