<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Başlık: <%= baslik %> </h1>
    <p>Burası da yazının içeriği...</p>







  </body>
</html>
